{% extends "./layout/t_f_home.html" %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Welcome to the sign up page</h1>
        <p class="lead">Fill out the form.Notice we don't save any info!!</p>
        <form action="/final" method="get">
            <div class="form-group mb-2">
                <label for="f_name">First Name:</label>
                <input type="text" id="f_name" name="first" placeholder="" value="">
                <label for="l_name">Last Name:</label>
                <input type="text" id="l_name" name="last" placeholder="" value="">
                <input type="submit" value="Submit Form">
            </div>
        </form>
    </div>

{% endblock %}